body {
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(200, 200, 200);
  background-color: rgb(33, 37, 41);
  height: 100%;
}

nav,
li,
a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.navbar-brand {
  color: rgb(200, 200, 200);
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler {
  background-color: rgb(200, 200, 200);
}

img {
  max-width: 400px;
  max-height: 300px;
}

.list-group-item {
  background-color: inherit;
  color: rgb(200, 200, 200);
}

.list-group-item.active {
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-color: rgb(200, 200, 200);
}


.estilosTablas th {
  background-color: rgb(45, 49, 55);
  color: white;
  font-weight: bold;
}

.estilosTablas td {
  background-color: transparent;
  color: rgb(220, 220, 220);
}

.titulosh3 {
  color: white;
  font-weight: bold;
  text-align: center;
}